@using MP40.MVC.Models;
@using MP40.BLL.Models;
@model Page<MP40.MVC.Models.Video>

@{
    ViewData["Title"] = "Index";
}

@foreach (MP40.MVC.Models.Video video in Model.Models)
{
    <a href="@Url.Action("Details", new { id = video.Id })" class="video-card">
        <div class="thumbnail">
            <img src="data:image/png;base64,@video.Image?.Base64" style="max-width: 500px; max-height: 300px;" alt="Video Thumbnail" />
        </div>
        <div class="video-info">
            <h2>@video.Name</h2>
            <p>@video.Description</p>
            <p>Date: @video.CreatedAt</p>
        </div>
    </a>
}
