@using MP40.MVC.Models;
@using MP40.BLL.Models;
@model Page<MP40.MVC.Models.Video>

@{
	ViewData["Title"] = "Index";
	Model.FilterBy = "name";
}

<h1>Videos</h1>

<div class="form-group">
	<label for="filterInput">Filter by Name:</label>
	<input type="text" id="filterInput" class="form-control" placeholder="Enter video name" value="@Model.Filter" />
	<div class="input-group-append">
		<button id="filterButton" class="btn btn-primary filter-btn" type="button">Filter</button>
	</div>
</div>

<div id="video-grid">
	<partial name="IndexPartial" />
</div>
<partial name="ViewPages" />

@section Scripts {
	<script>
		$(".pager-btn, .filter-btn").click(function (event) {
			console.log("Pager button clicked");
			event.preventDefault();
			var ajaxData = {
				pageIndex: $(this).data("page"),
				filter: $("#filterInput").val(),
				filterBy: "name"
			};

			$.ajax({
				type: "GET",
				url: "/Video/IndexPartial",
				data: ajaxData,
				success: function (data) {
					$("#video-grid").html(data);

					$(".pager-btn").removeClass("btn-primary");
					$(".pager-btn").addClass("btn-outline-primary");

					$(".pager-btn[data-page=" + page + "]").removeClass("btn-outline-primary");
					$(".pager-btn[data-page=" + page + "]").addClass("btn-primary");
					console.log("YEAAAAAAAAAAAAAAAAAAAAAAAAAAH");
				},
				error: function (data) {
					console.error("Ajax GET error", data);
				}
			});
		});
	</script>
}
