@using MP40.MVC.Models;
@using MP40.BLL.Models;
@model Page<MP40.MVC.Models.User>

@{
	ViewData["Title"] = "Index";
}

<h1>Users</h1>
<p>
	<a asp-action="Create" class="btn btn-info">Create New</a>
</p>

<div class="form-group">
	<label for="filterInput">Filter:</label>
	<div class="input-group">
		<select id="filterTypeSelect" class="form-control">
			<option value="firstname">First name</option>
			<option value="lastname">Last name</option>
			<option value="name">Username</option>
			<option value="country">Country</option>
		</select>
		<input type="text" id="filterInput" class="form-control" placeholder="Enter filter value" value="@Model.Filter" />
		<div class="input-group-append">
			<button id="filterButton" class="btn btn-primary filter-btn" type="button">Filter</button>
		</div>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				Username
			</th>
			<th>
				Email
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="table-body">
		<partial name="IndexPartial" />
	</tbody>
</table>
<partial name="ViewPages" />

@section Scripts {
	<script>
		$(".pager-btn, .filter-btn").click(function (event) {
			console.log("Pager button clicked");
			event.preventDefault();
			var page = $(this).data("page");
			console.log(page);
			var ajaxData = {
				pageIndex: page,
				filter: $("#filterInput").val(),
				filterBy: $("#filterTypeSelect").val()
			};

			$.ajax({
				type: "GET",
				url: "/User/IndexPartial",
				data: ajaxData,
				success: function (data) {
					$("#table-body").html(data);

					$(".pager-btn").removeClass("btn-primary");
					$(".pager-btn").addClass("btn-outline-primary");

					$(".pager-btn[data-page=" + page + "]").removeClass("btn-outline-primary");
					$(".pager-btn[data-page=" + page + "]").addClass("btn-primary");
					console.log("YEAAAAAAAAAAAAAAAAAAAAAAAAAAH");
				},
				error: function (data) {
					console.error("Ajax GET error", data);
				}
			});
		});
	</script>
}
