@using MP40.MVC.Models;
@using MP40.BLL.Models;
@model Page<MP40.MVC.Models.User>

@{
	ViewData["Title"] = "Index";
}

<h1>Users</h1>
<p>
	<a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="table-body">
		<partial name="IndexPartial" />
	</tbody>
</table>
<partial name="ViewPages" />

@section Scripts {
	<script>
		$(".pager-btn").click(function (event) {
			console.log("Pager button clicked");
			event.preventDefault();
			var page = $(this).data("page");
			console.log(page);
			var ajaxData = {
				pageIndex: page
			};

			$.ajax({
				type: "GET",
				url: "/User/IndexPartial",
				data: ajaxData,
				success: function (data) {
					$("#table-body").html(data);

					$(".pager-btn").removeClass("btn-primary");
					$(".pager-btn").addClass("btn-outline-primary");

					$(".pager-btn[data-page=" + page + "]").removeClass("btn-outline-primary");
					$(".pager-btn[data-page=" + page + "]").addClass("btn-primary");
					console.log("YEAAAAAAAAAAAAAAAAAAAAAAAAAAH");
				},
				error: function (data) {
					console.error("Ajax GET error", data);
				}
			});
		});
	</script>
}
